<p id="notice"><%= notice %></p>

<h1>Woof Walks</h1>

<div class='row'>
  <% @services.each do |service| %>
<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">
    <%= link_to service do %>
      <%= image_tag service.picture if service.picture.attached? %>
    <% end %>
  </div>
  <div class="card-body">
    <h4 class="card-title"><%= service.title %></h4>
    <p class="card-text"><%= service.description %></p>
      <% if user_signed_in? && service.user_id == current_user.try(:id) %>
      <%= link_to 'Edit', edit_service_path(service) %>
      <%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
  </div>
</div>
<% end %>
</div>

<br>

<% if user_signed_in? && current_user.is_walker == true %>
<%= link_to 'New Service', new_service_path %>
<% end %>
