<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
  <strong>Title:</strong>
  <%= @service.title %>
  </p>

  <p>
  <strong>Description:</strong>
  <%= @service.description %>
  </p>

  <p class="preview">
  <%= image_tag @service.picture if @service.picture.attached? %>
  </p>
</div>

<% if @service.user_id == current_user.id %>
  <%= link_to 'Edit', edit_service_path(@service) %> |
<% end %>

  <%= link_to 'Back', services_path %>
